<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <!-- clicking an a-tag will always create a get request -->
    <a href="/todos">To-Do List</a>
  </body>
</html>
