<%- include('../partials/header') %>

<!-- action attribute specifies the path where the form submits its info -->
<!-- the method attribute is the HTTP method -->
<form action="/todos/<%= todo.id %>?_method=PUT" method="POST">
    <!-- the name attribute is what the server will see -->
    <!-- and what the middleware will see in terms of data being sent to it -->
    <!-- we want this name to match the name in the model -->
    <input type="text" name="todo" value="<%= todo.todo %>">
    <button type="submit">Update To-Do</button>
</form>

<%- include('../partials/footer') %>